({:name "BW3" :menu-url "http://goo.gl/h27UHO"} {:name "Chipotle"} {:name "Portillo's" :menu-url "http://goo.gl/BrNoUe"} {:name "Elephant"} {:name "Smoque"} {:name "Superdawg"} {:name "Naf Naf" :sales-tax-rate 0.1025M} {:name "Makisu"} {:name "Jimmy John's"} {:name "Potbelly"} {:name "Five Guys"} {:name "Corner Bakery"} {:name "Papa John's"} {:name "King Pho"})